<!-- About Section -->
<section class="success" id="about">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>

    <div class="row">

      <div class="col-lg-4 col-lg-offset-2 text-center">
        <p>I am a full stack web developer guided by my energy, enthusiasm and high values. My goals as a developer are to respond to challenges by finding creative solutions and to learn something new every day.</p>
      </div>

      <div class="container">
        <div class="text-center">
          <h3>SKILLS</h3>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="text-center skills">
              <h4>LANGUAGES</h4>
              <p>JavaScript | Ruby | HTML | CSS3</p>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="text-center skills">
              <h4>FRONT END LIBRARIES/FRAMEWORKS</h4>
                <p>AngularJS | Backbone.js | jQuery | Ajax | Sass</p>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="text-center skills">
              <h4>BACK END TECHNOLOGIES</h4>
                <p>Node.js | Rails | Express.js | Sinatra | Mongoose | ActiveRecord</p>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="text-center skills">
              <h4>MANAGEMENT/DEPLOYMENT</h4>
                <p>Git | Heroku</p>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="text-center skills">
              <h4>DATABASES</h4>
                <p>SQL | MongoDB</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
