<!-- SKILLS -->
<section id="skills">

  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>SKILLS</h2>
        <hr class="star-primary">
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="text-center skillsHere">
          <h4>LANGUAGES</h4>
          <p>JavaScript | Ruby | HTML | CSS3</p>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="text-center skillsHere">
          <h4>FRONT END LIBRARIES/FRAMEWORKS</h4>
          <p>AngularJS | Backbone.js | jQuery | Ajax | Sass</p>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="text-center skillsHere">
          <h4>BACK END TECHNOLOGIES</h4>
          <p>Node.js | Rails | Express.js | Sinatra | Mongoose | ActiveRecord</p>
        </div>
      </div>

      <div class="col-xs-6">
        <div class="text-center skillsHere">
          <h4>MANAGEMENT / DEPLOYMENT</h4>
          <p>Git | Heroku</p>
        </div>
      </div>

      <div class="col-xs-6">
        <div class="text-center skillsHere">
          <h4>DATABASES</h4>
          <p>SQL | MongoDB</p>
        </div>
      </div>

    </div>

  </div>

</section>
