
.soc {
  display: block;
  font-size: 0;
  list-style: none;
  margin: 0 auto;
  padding: 48px;
  padding: 4.8rem;
  text-align: center;
}
.soc li {
  display: inline-block;
  margin: 12px;
  margin: 1.2rem;
}
.soc a, .soc svg {
  display: block;
}
.soc a {
  position: relative;
  height: 96px;
  height: 9.6rem;
  width: 96px;
  width: 9.6rem;
}
.soc svg {
  height: 100%;
  width: 100%;
}
.soc em {
  font-size: 14px;
  line-height: 1.5;
  margin-top: -0.75em;
  position: absolute;
  text-align: center;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
}



.icon-12 {
  color: #26d96e;
  fill: #26d96e;
}
.icon-12:hover {
  background: #26d96e;
}

.icon-13 {
  color: #26d991;
  fill: #26d991;
}
.icon-13:hover {
  background: #26d991;
}

.icon-14 {
  color: #26d9b5;
  fill: #26d9b5;
}
.icon-14:hover {
  background: #26d9b5;
}

.icon-15 {
  color: #26d9d9;
  fill: #26d9d9;
}
.icon-15:hover {
  background: #26d9d9;
}


@media (max-width: 576px){
  .soc svg {
    height: 15vw;
    min-height: 50px;
    width: 15vw;
    min-width: 50px;
  }
  .soc a {
    position: relative;
    height: 15vw;
    width: 15vw;
  }
  .icon-12:hover, .icon-13:hover, .icon-14:hover, .icon-15:hover{
   border-radius: 100%;
   color: #FFFFFF;
   fill: #FFFFFF;
  }
}

@media (min-width: 576px){
   .icon-12:hover, .icon-13:hover, .icon-14:hover, .icon-15:hover {
    border-radius: 100%;
    color: #FFFFFF;
    fill: #FFFFFF;
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
    -webkit-transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
    transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  }
}
